---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/550/videos?api_key=SECRET_TMDB_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - f10c35914c6b498b595b64216a39df5b
      X-Memc-Age:
      - '6785'
      X-Memc-Expires:
      - '14815'
      Etag:
      - W/"5f619501299540f4f1d3c3011654e668"
      Last-Modified:
      - Sun, 25 Oct 2020 03:21:28 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":550,"results":[{"id":"5c9294240e0a267cd516835f","iso_639_1":"en","iso_3166_1":"US","key":"BdJKm16Co6M","name":"Fight
        Club | #TBT Trailer | 20th Century FOX","site":"YouTube","size":1080,"type":"Trailer"},{"id":"5e382d1b4ca676001453826d","iso_639_1":"en","iso_3166_1":"US","key":"6JnN1DmbqoU","name":"Fight
        Club - Theatrical Trailer Remastered in HD","site":"YouTube","size":1080,"type":"Trailer"}]}'
  recorded_at: Sun, 25 Oct 2020 03:21:45 GMT
recorded_with: VCR 6.0.0
