<h1>Viewing Party</h1>

<h2>Welcome to Viewing Party!</h2>

<p>Viewing Party is the best way to coordinate movie viewing parties with your friends online. Viewing Party allows you to add friends and send them invites to create watch parties. You and your friends can enjoy your favorite movies together.</p>
