<h1>Watch Party</h1>

<h2>Welcome to watch party!</h2>

<p>Use this app to coordinate watch parties with your friends.</p>

<%= button_to "Log in", "/login", method: :get %>
<%= link_to "Register", "/register" %>
